src/main/resources/xsd/leandi-domain.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"

           xmlns="urn:org:leandi:schema:domain"
           targetNamespace="urn:org:leandi:schema:domain"

           xmlns:bt="urn:org:leandi:schema:base-types"
           version="0.9">
    <xs:import namespace="urn:org:leandi:schema:base-types" schemaLocation="leandi-base-types.xsd"/>
    <xs:element name="domain" type="domain"/>
    <xs:element name="schema" type="domain"/>
    <xs:complexType name="domain">
        <xs:annotation>
            <xs:documentation>Домен</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="knot" type="knot" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="anchor" type="anchor" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="txAnchor" type="txAnchor" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cdAnchor" type="cdAnchor" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="tie" type="tie" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="area" type="area" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="group" type="group" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="properties" type="properties" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element name="verticalPropertiesGroup" type="VerticalPropertiesGroup" minOccurs="0"
                        maxOccurs="unbounded">
                <xs:unique name="uniqueGroupId">
                    <xs:selector xpath="verticalPropertiesGroup"/>
                    <xs:field xpath="@id"/>
                </xs:unique>
                <xs:unique name="uniqueGroupPropertyId">
                    <xs:selector xpath="property"/>
                    <xs:field xpath="@id"/>
                </xs:unique>
            </xs:element>

            <xs:element name="verticalProperties" type="VerticalProperties" minOccurs="0">
                <xs:unique name="uniquePropertyId">
                    <xs:selector xpath="property"/>
                    <xs:field xpath="@id"/>
                </xs:unique>
                <xs:unique name="uniqueName">
                    <xs:selector xpath="property"/>
                    <xs:field xpath="@name"/>
                </xs:unique>
            </xs:element>
            <xs:element name="layout" type="bt:layout" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="shortName" type="xs:string"/>
        <xs:attributeGroup ref="bt:description"/>
        <xs:attribute name="uid" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="anchor">
        <xs:annotation>
            <xs:documentation>Анкор</xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="objectInfo">
                <xs:sequence>
                    <xs:element name="verticalPropertyGroup" type="VerticalPropertyGroupId" minOccurs="0"
                                maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>
                                Перечисление id групп вертикальных реквизитов, присоединенных к анкору.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="extendedColumn" type="ExtendedColumn" minOccurs="0" maxOccurs="8">
                        <xs:annotation>
                            <xs:documentation>
                                Перечисление горизонтальных атрибутов, присоединенных к анкору.
                                Важно: Значение всегда не пустое.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="attribute" type="attribute" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element type="bt:indexesType" name="indexes" maxOccurs="1"/>
                    <xs:element name="group" type="group" minOccurs="0"/>
                    <xs:element name="properties" type="properties" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="mnemonic" type="bt:mnemonic2" use="required"/>
                <xs:attribute name="identity" type="bt:identity" use="required">
                    <xs:annotation>
                        <xs:documentation>Тип id анкора.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="skip" type="xs:boolean" default="false">
                    <xs:annotation>
                        <xs:documentation>true - пропускать объект в момент генерации LeanDIEntity.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="cdAnchor">
        <xs:annotation>
            <xs:documentation>Кросс-доменный анкор. Cross-domain anchor.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="objectInfo">
                <xs:sequence>
                    <xs:element name="extendedColumn" type="ExtendedColumn" minOccurs="0" maxOccurs="8">
                        <xs:annotation>
                            <xs:documentation>
                                Перечисление горизонтальных атрибутов, присоединенных к кросс-доменному анкору.
                                Важно: Значение всегда не пустое.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="attribute" type="attribute" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element type="bt:indexesType" name="indexes" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="mnemonic" type="bt:mnemonic2" use="required"/>
                <xs:attribute name="identity" type="bt:identity" use="required">
                    <xs:annotation>
                        <xs:documentation>Тип id анкора.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="skip" type="xs:boolean" default="false">
                    <xs:annotation>
                        <xs:documentation>true - пропускать объект в момент генерации LeanDIEntity.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="cdMnemonic" type="bt:mnemonic2">
                    <xs:annotation>
                        <xs:documentation>Мнемоник связаннного анкера из другого домена</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="cdDomain" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Краткое наименование связанного домена</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="knot">
        <xs:annotation>
            <xs:documentation>Кнот. В качестве значений используются исключительно строки.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="objectInfo">
                <xs:sequence>
                    <xs:element name="values" type="bt:values" maxOccurs="1"/>
                    <xs:element name="items" type="bt:values" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="mnemonic" type="bt:mnemonic3" use="required"/>
                <xs:attribute name="length" type="xs:int"/>
                <xs:attribute name="identity" type="bt:identity" use="required"/>
                <xs:attribute name="dataRange" type="bt:dataRange"/>
                <xs:attribute name="precision" type="xs:int"/>
                <xs:attribute name="scale" type="xs:int"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="attribute">
        <xs:annotation>
            <xs:documentation>Атрибут</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="objectInfo">
                <xs:sequence>
                    <xs:element type="bt:indexesType" name="indexes" maxOccurs="1"/>
                    <xs:element name="extendedColumn" type="ExtendedColumn" minOccurs="0" maxOccurs="8"/>
                </xs:sequence>
                <xs:attribute name="timeRange" type="bt:identity"/>
                <xs:attribute name="knotRange" type="bt:mnemonic3"/>
                <xs:attribute name="mnemonic" type="bt:mnemonic3" use="required"/>
                <xs:attribute name="dataRange" type="bt:dataRange" use="required"/>
                <xs:attribute name="length" type="xs:int"/>
                <xs:attribute name="json" type="xs:string"/>
                <xs:attribute name="layered" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="tie">
        <xs:annotation>
            <xs:documentation>Tie, связь анкеров</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="objectInfo">
                <xs:sequence>
                    <xs:element name="extendedColumn" type="ExtendedColumn" minOccurs="0" maxOccurs="8">
                        <xs:annotation>
                            <xs:documentation>
                                Перечисление горизонтальных атрибутов, присоединенных к tie. Важно: Значение всегда
                                не пустое.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="anchorRole" type="anchorRole" minOccurs="2" maxOccurs="unbounded"/>
                    <xs:element name="knotRole" type="knotRole" minOccurs="0"/>
                    <xs:element type="bt:indexesType" name="indexes" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="timeRange" type="bt:identity"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="txAnchor">
        <xs:annotation>
            <xs:documentation>Транзакционный анкор, весьма похож на tie, но семантика различается</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="objectInfo">
                <xs:sequence>
                    <xs:element name="extendedColumn" type="ExtendedColumn" minOccurs="0" maxOccurs="8"/>
                    <xs:element name="anchorRole" type="anchorRole" minOccurs="2" maxOccurs="unbounded"/>
                    <xs:element type="bt:indexesType" name="indexes" maxOccurs="1"/>
                    <xs:element name="attribute" type="attribute" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="group" type="group" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="properties" type="properties" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="mnemonic" type="bt:mnemonic2" use="required"/>
                <xs:attribute name="identity" type="bt:identity" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="area">
        <xs:annotation>
            <xs:documentation>Объединение анкоров, имеющее общую смысловую нагрузку или рассматриваемые в одном
                аспекте.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="objectInfo">
                <xs:sequence>
                    <xs:element name="anchorRole" type="anchorRole" minOccurs="2" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="color" type="bt:color"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="group">
        <xs:annotation>
            <xs:documentation>Объединение групп</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="group" name="group" maxOccurs="unbounded"/>
            <xs:element type="property" name="property" maxOccurs="unbounded"/>
            <xs:element type="xs:string" name="description" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="properties">
        <xs:annotation>
            <xs:documentation>Все динамические реквизиты</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="property" name="property" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="property">
        <xs:annotation>
            <xs:documentation>Один динамический реквизит</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="namedisp" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="namep" type="xs:string"/>
        <xs:attribute name="typep" type="bt:typep"/>
        <xs:attribute name="logical_type" type="xs:string"/>
        <xs:attribute name="required" type="xs:boolean"/>
        <xs:attribute name="length" type="xs:int"/>
        <xs:attribute name="precision" type="xs:int"/>
        <xs:attribute name="scale" type="xs:int"/>
    </xs:complexType>

    <xs:complexType name="knotRole">
        <xs:annotation>
            <xs:documentation>Ссылка на mnemonic knot.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="role">
                <xs:attribute name="type" type="bt:mnemonic3"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="anchorRole">
        <xs:annotation>
            <xs:documentation>Ссылка на mnemonic анкора. Анкор может быть как обычным, так и кросс-доменным.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="role">
                <xs:attribute name="type" type="bt:mnemonic2"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="role">
        <xs:annotation>
            <xs:documentation>Описания связи</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="domain" type="xs:string"/>
        <xs:attribute name="role" type="xs:string"/>
        <xs:attribute name="identifier" type="xs:boolean" default="true"/>
        <xs:attribute name="color" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="ExtendedColumn">
        <xs:annotation>
            <xs:documentation>Дополнительная (присоединенная) колонка объекта. "Горизонтальное фаберже", горизонтальный
                атрибут
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="uid" type="xs:string"/>
        <xs:attribute name="columnName" type="xs:string"/>
        <xs:attribute name="description" type="xs:string"/>
        <xs:attribute name="knotRange" type="bt:mnemonic3"/>
        <xs:attribute name="dataRange" type="bt:dataRange"/>
        <xs:attribute name="length" type="xs:int"/>
        <!-- Дополнительные атрибуты, указывающие на "размерность" числовых типов, кроме bigint.-->
        <xs:attribute name="precision" type="xs:int"/>
        <xs:attribute name="scale" type="xs:int"/>
        <xs:attribute name="nullable" type="xs:boolean"/>
        <xs:attribute name="deprecated" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="objectInfo">
        <xs:annotation>
            <xs:documentation>Общая часть представления объектов анкорной схемы</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="layout" type="bt:layout" minOccurs="0"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="descriptor" type="bt:descriptor" use="required"/>
        <xs:attribute name="uid" type="xs:string"/>
        <xs:attribute name="deprecated" default="false" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="VerticalPropertiesGroup">
        <xs:annotation>
            <xs:documentation>
                Группы вертикальных реквизитов, объединенные общей смысловой нагрузкой.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="verticalPropertyGroup" type="VerticalPropertyGroupId" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="verticalProperty" type="VerticalPropertyId" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" use="required"/>
        <xs:attribute name="uid" type="xs:string"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="VerticalPropertyId">
        <xs:annotation>
            <xs:documentation>
                Уникальный id вертикального реквизита.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="xs:long" use="required"/>
    </xs:complexType>
    <xs:complexType name="VerticalPropertyGroupId">
        <xs:annotation>
            <xs:documentation>
                Уникальный id группы вертикальных реквизитов.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="xs:long" use="required"/>
    </xs:complexType>

    <xs:complexType name="VerticalProperties">
        <xs:annotation>
            <xs:documentation>
                Перечисление вертикальных реквизитов домена. Словарь.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="verticalProperty" type="VerticalProperty" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VerticalProperty">
        <xs:annotation>
            <xs:documentation>
                Описательная часть вертикального реквизита домена. "Словарная статья".
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="displayName">
                <xs:annotation>
                    <xs:documentation>
                        Пользовательское наименование реквизита.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" use="required">
            <xs:annotation>
                <xs:documentation>
                    Id реквизита, уникальный во всем домене.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:long">
                    <xs:minInclusive value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="name" use="required">
            <xs:annotation>
                <xs:documentation>
                    Наименование реквизита.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[a-z][a-zA-Z0-9]{1,80}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="dataRange" type="bt:dataRange" use="required">
            <xs:annotation>
                <xs:documentation>
                    Тип данных.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="knotRange" type="bt:mnemonic3">
            <xs:annotation>
                <xs:documentation>
                    Ссылка на кнот.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="required" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>
                    Nullable.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="programType">
            <xs:annotation>
                <xs:documentation>
                    Тип данных, в который преобразуется хранимое значение. Пример: java.sql.Date, java.util.ArrayList.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="255"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="deprecated" default="false" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>
                    Отметка факта вывода атрибута из обращения.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="metadata">
        <xs:annotation>
            <xs:documentation>Объединение групп</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="group" name="group" maxOccurs="unbounded"/>
            <xs:element type="property" name="property" maxOccurs="unbounded"/>
            <xs:element type="xs:string" name="description" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>

</xs:schema>